<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Libreria iconos web https://ionic.io -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- Favicon web icons8.com-->
    <link rel="shortcut icon" href="../img/robot-icons8.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/proyectos.css">
    <title>Proyectos</title>
</head>
<body class="fondo-neutro">
    <div class="container center">
        <header>
            <div class="box1">
                <a href="index.html">
                    <h1 class="hidden-mobile text-center">Patricia Gutiérrez Rivas</h1>
                    <h1 class="hidden-tablet-desktop text-center">Patricia G. R.</h1>
                </a>
            </div>
            <div class="box2">
                <nav class="menu-wrapper center">
                    <ion-icon class="menu-icon" name="menu-outline"></ion-icon>
                    <div class="menu">
                        <div class="menu-item">
                            <a href="index.html"><ion-icon name="git-network-outline"></ion-icon> Inicio</a>
                        </div>
                        <div class="menu-item">
                            <a href="quienSoy.html"><ion-icon name="git-commit-outline"></ion-icon> Quién soy</a>
                        </div>
                        <div class="menu-item">
                            <a href="cv.html"><ion-icon name="git-branch-outline"></ion-icon> CV</a>
                        </div>
                        <div class="menu-item">
                            <a href="proyectos.html"><ion-icon name="git-compare-outline"></ion-icon> Proyectos</a>
                        </div>
                        <div class="menu-item">
                            <a href="contacto.html"><ion-icon name="git-merge-outline"></ion-icon> Contacto</a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <section class="flex center text-center">
            <div class="container-projects">
                <div class="project">
                    <figure>
                        <img src="../img/img-cripto.PNG" alt="web-criptomonedas">
                    </figure>
                    <div class="info-project">
                        <h3>Web Criptomonedas</h3>
                        <p><span class="tag">#</span>Python <span class="tag">#</span>Flask <span class="tag">#</span>SQL <span class="tag">#</span>API <span class="tag">#</span>WTFforms</p>
                        <p><a href="https://github.com/pgutierrezrivas/classic_project" target="_blank" class="yellow"><ion-icon name="logo-github"></ion-icon> Código Github</a></p>
                        <a href="https://drive.google.com/file/d/16IHz4jECexf2n2XL3wf42gqZ9a3IZkex/view" target="_blank"><button>Demo video web</button></a>
                    </div>
                </div>
                <div class="project">
                    <figure>
                        <img src="../img/img-clima.PNG" alt="web-clima">
                    </figure>
                    <div class="info-project">
                        <h3>Web Clima Actual</h3>
                        <p><span class="tag">#</span>Javascript <span class="tag">#</span>API <span class="tag">#</span>HTML/CSS <span class="tag">#</span>Responsive</p>
                        <p><a href="https://github.com/pgutierrezrivas/weather_web" target="_blank" class="yellow"><ion-icon name="logo-github"></ion-icon> Código Github</a></p>
                        <a href="https://pgutierrezrivas.github.io/weather_web/" target="_blank"><button>Ir a la web</button></a>
                    </div>
                </div>
                <div class="project">
                    <figure>
                        <img src="../img/img-cajero.PNG" alt="cajero-virtual">
                    </figure>
                    <div class="info-project">
                        <h3>Cajero Virtual</h3>
                        <p><span class="tag">#</span>Spring Boot <span class="tag">#</span>JPA <span class="tag">#</span>SQL <span class="tag">#</span>Thymeleaf
                        <p><a href="https://github.com/pgutierrezrivas/cajero-virtual" target="_blank" class="yellow"><ion-icon name="logo-github"></ion-icon> Código Github</a></p>
                        <a href="https://drive.google.com/file/d/1RndNaROpSWlkTGj9HeJPwW6fnbV4sXT_/view?usp=sharing" target="_blank"><button>Demo video web</button></a>
                    </div>
                </div>
                <div class="project">
                    <figure>
                        <img src="../img/img-pinceladas.PNG" alt="web-arte">
                    </figure>
                    <div class="info-project">
                        <h3>Web Pinceladas Diarias</h3>
                        <p><span class="tag">#</span>Javascript <span class="tag">#</span>API <span class="tag">#</span>HTML/CSS <span class="tag">#</span>Responsive</p>
                        <p><a href="https://github.com/pgutierrezrivas/pinceladas_diarias" target="_blank" class="yellow"><ion-icon name="logo-github"></ion-icon> Código Github</a></p>
                        <a href="https://pgutierrezrivas.github.io/pinceladas_diarias/" target="_blank"><button>Ir a la web</button></a>
                    </div>
                </div>
                <div class="project">
                    <figure>
                        <img src="../img/img-productos.PNG" alt="productos-web">
                    </figure>
                    <div class="info-project">
                        <h3>Web Listado Productos</h3>
                        <p><span class="tag">#</span>Angular <span class="tag">#</span>API <span class="tag">#</span>HTML/CSS <span class="tag">#</span>Responsive</p>
                        <p><a href="https://github.com/pgutierrezrivas/DWEC_02_apiProducts" target="_blank" class="yellow"><ion-icon name="logo-github"></ion-icon> Código Github</a></p>
                        <a href="https://timely-fenglisu-d99819.netlify.app/" target="_blank"><button>Ir a la web</button></a>
                    </div>
                </div>
                <div class="project">
                    <figure>
                        <img src="../img/img-sketch1.PNG" alt="sketch-01">
                    </figure>
                    <div class="info-project">
                        <h3>Creativo Sketch-01</h3>
                        <p><span class="tag">#</span>Javascript <span class="tag">#</span>Node.js</p>
                        <p><a href="https://github.com/pgutierrezrivas/sketch-01" target="_blank" class="yellow"><ion-icon name="logo-github"></ion-icon> Código Github</a></p>
                        <a href="https://pgutierrezrivas.github.io/sketch-01/" target="_blank"><button>Ir a la web</button></a>
                    </div>
                </div>
                <div class="project">
                    <figure>
                        <img src="../img/img-excursion.PNG" alt="web-excursiones">
                    </figure>
                    <div class="info-project">
                        <h3>Web Gestión Excursiones</h3>
                        <p><span class="tag">#</span>Spring Boot <span class="tag">#</span>Thymeleaf <span class="tag">#</span>CSS
                        <p><a href="https://github.com/pgutierrezrivas/gestion-excursiones" target="_blank" class="yellow"><ion-icon name="logo-github"></ion-icon> Código Github</a></p>
                        <a href="https://drive.google.com/file/d/155z7gphJSI2C8vmtuJL8wfiV5AmnQ-iY/view?usp=sharing" target="_blank"><button>Demo video web</button></a>
                    </div>
                </div>
                <div class="project">
                    <figure>
                        <img src="../img/img-tijeras.PNG" alt="scissors-game">
                    </figure>
                    <div class="info-project">
                        <h3>Juego Piedra, Papel, Tijera</h3>
                        <p><span class="tag">#</span>Javascript <span class="tag">#</span>HTML/CSS <span class="tag">#</span>Responsive</p>
                        <p><a href="https://github.com/pgutierrezrivas/rock-paper-scissors-js" target="_blank" class="yellow"><ion-icon name="logo-github"></ion-icon> Código Github</a></p>
                        <a href="https://pgutierrezrivas.github.io/rock-paper-scissors-js/" target="_blank"><button>Ir a la web</button></a>
                    </div>
                </div>
                <div class="project">
                    <figure>
                        <img src="../img/img-portfolio.PNG" alt="portfolio-web">
                    </figure>
                    <div class="info-project">
                        <h3>Portfolio Web</h3>
                        <p><span class="tag">#</span>HTML/CSS <span class="tag">#</span>Javascript <span class="tag">#</span>Responsive</p>
                        <p><a href="https://github.com/pgutierrezrivas/LANDING-PAGE" target="_blank" class="yellow"><ion-icon name="logo-github"></ion-icon> Código Github</a></p>
                        <a href="https://pgutierrezrivas.github.io/LANDING-PAGE/templates/" target="_blank"><button>Ir a la web</button></a>
                    </div>
                </div>
                <!--<div class="project">
                    <figure>
                        <img src="../img/img-vino.PNG" alt="web-bodega">
                    </figure>
                    <div class="info-project">
                        <h3>Web Bodega de Vinos</h3>
                        <p><span class="tag">#</span>HTML/CSS <span class="tag">#</span>Responsive</p>
                        <p><a href="https://github.com/pgutierrezrivas/WEB-CORPORATIVA-GRUPO3" target="_blank" class="yellow"><ion-icon name="logo-github"></ion-icon> Código Github</a></p>
                        <a href="https://pgutierrezrivas.github.io/WEB-CORPORATIVA-GRUPO3/tienda.html" target="_blank"><button>Ir a la web</button></a>
                    </div>
                </div>-->
                <div class="project img-disabled">
                    <figure>
                        <img src="../img/img-disabled.PNG" alt="upcoming-projects">
                    </figure>
                    <div class="info-project">
                        <h3>Próximos proyectos</h3>
                        <p><span class="tag">#</span>In progress...</p>
                        <p><a href="#" target="_blank" class="yellow disabled" disabled ><ion-icon name="logo-github"></ion-icon> Disabled</a></p>
                        <a href="#" target="_blank" disabled><button class="disabled" disabled>Disabled</button></a>
                    </div>
                </div>
            </div>
        </section>

        <footer class="text-center">
            <div class="social-media">
                <a href="mailto:“pgutierrezrivas@gmx.es" target=“_blank”><ion-icon name="mail-outline"></ion-icon></a>
                <a href="https://www.linkedin.com/in/pgutierrezrivas/" target=“_blank”><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href="https://github.com/pgutierrezrivas" target=“_blank”><ion-icon name="logo-github"></ion-icon></a>
            </div>
            <div class="copyright">
                <p>&copy;2024 Patricia Gutierrez Rivas CFGS DAW</p>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="../js/base.js"></script>
</body>
</html>